
.heading1{
    background-color: lightblue;
}
.head2{

    color: tomato;
    font-size: 33px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: skyblue;
    text-decoration-style: dotted;
    /*word-spacing: 60px;
    letter-spacing: 10px;*/
    text-shadow: 10px  20px 6px blanchedalmond;
    text-align: center;
    

}
.para{
    font-weight: bold;
}
.head3{
    font-family: Verdana;
}