.burger{
    display: flex;
    justify-content: space-between;
   

    background-color: darkgray;
    padding: 200px;
}
.photo{
   height: 200px;
    width: 200px;
    padding-right: 500px;
padding-bottom: 200px;    background-color: darkgray;
}
